.ModalSettings {
    width: 100%;
    max-width: 600px;
    min-width: 250px;
    padding: 50px;  
    max-height: calc(100vh - 110px);
    overflow-y: auto;
}

.ModalSettings input {
    width: 100%;
    max-width: 400px;
}