.NavBar {
    position: fixed;
}

.NavBar a {
    display: block;
    text-decoration: none;
    color: black;
    text-align: center;
    flex-grow: 1;
}

.NavBar .unreadMessagesCount {
    display: inline-block;
    padding: 5px 5px;
    background-color: red;
    border-radius: 20px;
    color: white;
}

@media (pointer: fine), (pointer: none) {
    /* desktop */
    .NavBar {
        top: 100px;
        left: 0px;
    }

    .NavBar a {
        padding: 20px 30px;
        font-size: 17px;
        text-align: left;
    }
}

@media (pointer: coarse) {
    /* mobile device */
    .NavBar {
        bottom: 0px;
        left: 0px;
        right: 0px;
        width: 100%;
        justify-content: space-around;
        align-items: center;
        display: flex;
    }

    .NavBar nav {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
    }

    .NavBar a {
        text-align: center;
        padding: 10px 20px;
        font-size: 20px;
        text-align: center;
    }
}