.NavBar {
    position: fixed;
}

.NavBar a {
    display: block;
    padding: 20px 30px;
    font-size: 17px;
    text-decoration: none;
    color: black;
    text-align: left;
}


@media (pointer: fine),
(pointer: none) {

    /* desktop */
    .NavBar {
        top: 100px;
        left: 0px;
    }
}

@media (pointer: coarse) {

    /* mobile device */
    .NavBar {
        bottom: 0px;
        left: 0px;
        right: 0px;
        width: 100%;
    }

    .NavBar a {
        float: left;
        text-align: center;
    }
}