.NavBar {
    position: fixed;
}

.NavBar a {
    display: block;
    text-decoration: none;
    color: black;
}


@media (pointer: fine),
(pointer: none) {

    /* desktop */
    .NavBar {
        top: 100px;
        left: 0px;
    }

    .NavBar a {
        padding: 20px 30px;
        font-size: 17px;
        text-align: left;
    }
}

@media (pointer: coarse) {

    /* mobile device */
    .NavBar {
        bottom: 0px;
        left: 0px;
        right: 0px;
        width: 100%;
        justify-content: space-between;
    }

    .NavBar a {
        float: left;
        text-align: center;
        padding: 10px 20px;
        font-size: 10px;
    }
}