.NavBar {
    position: fixed;
    top: 100px;
    left: 10px;
    display: flex;
}
.NavBar a {
    display: block;
    padding: 20px 30px;
    font-size: 17px;
    text-decoration: none;
    color: black;
    text-align: left;
}