:root {
    --gray-color: rgb(134, 134, 134);

    /* Light vars */
    --l-color: rgb(0, 0, 0);
    --l-ui-color: rgb(44, 42, 42);
    --l-list-color: rgb(134, 134, 134);

    --l-main-bg-color: rgb(250, 244, 244);
    --l-ui-bg-color: rgb(205, 205, 205);
    --l-upper-line-bg-color: rgba(235, 235, 235, 0.8);
    --l-upper-line-bg-color-hover: rgba(220, 220, 220, 0.8);
    --l-user-card-bg-color: rgb(202, 195, 195);
    --l-list-bg-color: rgb(230, 230, 230);

    --l-border-color: rgb(202, 195, 195);

    /* Dark vars */
    --d-color: rgb(205, 205, 205);
    --d-ui-color: rgb(205, 205, 205);
    --d-list-color: rgb(134, 134, 134);

    --d-main-bg-color: rgb(43, 43, 43);
    --d-ui-bg-color: rgb(101, 101, 110);
    --d-upper-line-bg-color: rgba(61, 61, 71, 0.8);
    --d-upper-line-bg-color-hover: rgba(50, 50, 50, 0.8);
    --d-user-card-bg-color: rgb(57, 57, 61);
    --d-list-bg-color: rgb(57, 57, 61);

    --d-border-color: rgb(80, 80, 90);
}


.FriendCard .username,
.Chat .info a {
    color: var(--gray-color);
}


/* Light Theme */

.light button,
.light input[type="submit"],
.light input[type="reset"] {
    background-color: var(--l-ui-bg-color);
    color: var(--l-ui-color);
}

.light textarea {
    background-color: var(--l-main-bg-color);
    color: var(--l-color);
}

.light input[type="text"],
.light input[type="email"] {
    background-color: var(--l-main-bg-color);
    color: var(--l-ui-color);
}

.light {
    background-color: var(--l-main-bg-color);
    color: var(--l-color);

    .UpperLine,
    .NavBar,
    .FriendsNavBar {
        background-color: var(--l-upper-line-bg-color);
    }

    .SettingsBar {
        background-color: var(--l-upper-line-bg-color);
        border-color: var(--l-border-color);
    }

    .NavBar a:hover,
    .FriendsNavBar a:hover {
        background-color: var(--l-upper-line-bg-color-hover);
    }

    .UserCard {
        background-color: var(--l-user-card-bg-color);
    }

    .Post,
    .RoomCard,
    .ModalRoomCreate .card,
    .ModalRoomEdit .card,
    .FriendCard,
    .Chat .Message {
        background-color: var(--l-list-bg-color);
    }

    .Post .title,
    .Post a {
        color: var(--l-list-color);
    }

    .RoomCard a,
    .Message a {
        color: var(--l-color);
    }

    .ModalRoomCreate,
    .ModalRoomEdit,
    .ModalSettings,
    .ModalPostEdit,
    .ModalDelAcc {
        background: var(--l-main-bg-color);
    }

    .FriendCard,
    .FriendCard .name {
        color: var(--l-color);
    }

    .Chat #SendButton,
    .Chat #SettingsButton {
        background: var(--l-main-bg-color);
    }
}


/* Dark Theme */

.dark a {
    color: var(--d-color);
}

.dark button,
.dark input[type="submit"],
.dark input[type="reset"] {
    background-color: var(--d-ui-bg-color);
    color: var(--d-ui-color);
}

.dark textarea {
    background-color: var(--d-main-bg-color);
    color: var(--d-color);
}

.dark input[type="text"],
.dark input[type="email"] {
    background-color: var(--d-main-bg-color);
    color: var(--d-ui-color);
}

.dark {
    background-color: var(--d-main-bg-color);
    color: var(--d-color);

    .UpperLine,
    .NavBar,
    .FriendsNavBar {
        background-color: var(--d-upper-line-bg-color);
    }

    .SettingsBar {
        background-color: var(--d-upper-line-bg-color);
        border-color: var(--d-border-color);
    }

    .NavBar a,
    .FriendsNavBar a {
        color: var(--d-ui-color);
    }

    .NavBar a:hover,
    .FriendsNavBar a:hover {
        background-color: var(--d-upper-line-bg-color-hover);
    }

    .UserCard {
        background-color: var(--d-user-card-bg-color);
    }

    .Post,
    .RoomCard,
    .ModalRoomCreate .card,
    .ModalRoomEdit .card,
    .FriendCard,
    .Chat .Message {
        background-color: var(--d-list-bg-color);
    }

    .Post .title,
    .Post a {
        color: var(--d-list-color);
    }

    .RoomCard .link,
    .Message a {
        color: var(--d-color);
    }

    .ModalRoomCreate,
    .ModalRoomEdit,
    .ModalSettings,
    .ModalPostEdit,
    .ModalDelAcc {
        background: var(--d-main-bg-color);
    }

    .FriendCard,
    .FriendCard .name {
        color: var(--d-color);
    }

    .Chat #SendButton,
    .Chat #SettingsButton {
        background: var(--d-main-bg-color);
    }
}