.FriendsNavBar a {
    text-decoration: none;
    color: black;
    text-align: left;
    display: block;
}

.FriendsNavBar #subscribersCount {
    padding: 5px 10px;
    background-color: red;
    border-radius: 20px;
    color: white;
}

@media (pointer: fine),
(pointer: none) {

    /* desktop */
    .FriendsNavBar {
        position: fixed;
        top: 100px;
        right: 10px;
        display: flex;
    }

    .FriendsNavBar a {
        padding: 20px 30px;
        font-size: 17px;
    }
}

@media (pointer: coarse) {

    /* mobile device */
    .FriendsNavBar {
        position: fixed;
        bottom: 100px;
        left: 0px;
        right: 0px;
        width: 100%;
    }

    .FriendsNavBar a {
        float: left;
        text-align: center;
        padding: 10px 20px;
        font-size: 10px;
    }
}