.FriendsNavBar {
    position: fixed;
    display: flex;
    top: 100px;
    right: 10px;
}

.FriendsNavBar a {
    display: block;
    width: 200px;
    padding: 20px;
    font-size: 17px;
    text-decoration: none;
    color: black;
    float: left;
    text-align: left;
}

.FriendsNavBar #subscribersCount {
    padding: 5px 10px;
    background-color: red;
    border-radius: 20px;
    color: white;
}