.FriendCard {
    margin-bottom: 10px;
    margin: 10px auto;
    max-width: 800px;
    padding: 20px;
}

@media (pointer: fine),
(pointer: none) {

    /* desktop */
    .FriendCard {
        min-width: 500px;
    }
}

@media (pointer: coarse) {

    /* mobile device */
    .FriendCard {
        min-width: 200px;
    }
}

.FriendCard .UserBtns {
    height: 20px;
}

.FriendCard .info {
    padding: 10px;
}

.FriendCard a {
    text-decoration: none;
}

.FriendCard .FriendCardUserImage {
    display: inline-block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}