.UpperLine {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-around;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}
.UpperLine img {
    width: 25px;
}
.UpperLine img:hover {
    cursor: pointer;
}