.RoomNavBar {
    position: fixed;
    display: flex;
}

.RoomNavBar a {
    display: block;
    width: 200px;
    padding: 20px;
    font-size: 17px;
    text-decoration: none;
    color: black;
}

@media (pointer: fine),
(pointer: none) {

    /* desktop */
    .RoomNavBar {
        top: 100px;
        right: 10px;
    }

    .RoomNavBar a {
        text-align: left;
    }
}

@media (pointer: coarse) {

    /* mobile device */
    .RoomNavBar {
        bottom: 120px;
        left: 0px;
        right: 0px;
        width: 100%;
    }

    .RoomNavBar a {
        float: left;
        text-align: center;
    }
}

.RoomNavBar #roomInvitationsLength {
    padding: 5px 10px;
    background-color: rgb(130, 130, 232);
    border-radius: 20px;
    color: white;
}