.W3 {
    align-items: center;
    margin: 50px 20%;
}

.W3Card {
    margin: 100px auto;
    max-width: 800px;
    padding: 10px;
    position: unset;
}

.W3CardText {
    white-space: pre-line;
    word-break: break-all;
}

.TransactionCard {
    margin-bottom: 50px;
    position: unset;
}

.TransactionCardText {
    white-space: pre-line;
    word-break: break-all;
}