.FriendCard {
    margin-bottom: 10px;
    margin: 10px auto;
    min-width: 500px;
    max-width: 1000px;
    padding: 20px;
}
.FriendCard .UserBtns {
    height: 20px;
}
.FriendCard .info {
    padding: 10px;
}
.FriendCard a {
    text-decoration: none;
}