.ModalPostEdit {
    max-width: 500px;
    padding: 20px;
    margin: 0 auto;
}

.ModalPostEdit textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    min-height: 200px;
    resize: vertical;
    outline: none;
    border: 1px solid #ced4da;
    border-radius: 4px;
    overflow: auto;
    padding: 10px;
    width: 100%;
    margin-bottom: 15px;
}

.ModalPostEdit textarea:focus {
    border-color: #80bdff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, .25);
}

.ModalPostEdit button {
    margin: 5px;
}

@media (pointer: fine),
(pointer: none) {

    /* desktop */
    .ModalPostEdit {
        min-width: 500px;
        max-height: calc(100vh - 110px);
        overflow-y: auto;
    }

    .ModalPostEdit textarea {
        width: 100%;
        max-width: 500px;
    }
}