.UserInput {
    position: fixed;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    z-index: 99;
}

.UserInput .ButtonsAndTextArea {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.UserInput .TextArea {
    width: 100%;
    padding: 5px;
    min-height: 20px;
    resize: vertical;
    box-sizing: border-box;
    field-sizing: content;
    outline: none;
    overflow-y: auto;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    border: 1px solid;
}

.UserInput .uploadFileForm {
    height: 50%;
    width: 100%;
}

.UserInput #SettingsButton {
    width: 35px;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-left: 1px solid;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.UserInput #SendButton {
    width: 35px;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-right: 1px solid;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.ParentMessage {
    position: fixed;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    align-items: center;
}

@media (pointer: coarse) {

    /* mobile device */
    .UserInput {
        margin-bottom: 60px;
    }

    .UserInput .ButtonsAndTextArea {
        margin-bottom: 70px;
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        resize: none;
        max-height: 500px;
    }

    .ParentMessage {
        bottom: 200px;
    }
}

@media (pointer: fine),
(pointer: none) {

    /* desktop */
    .UserInput .TextArea {
        width: 400px;
        max-height: 500px;
        border-right: none;
        border-left: none;
    }
}