.ModalRoomCreate {
    padding: 50px;
    max-height: calc(100vh - 110px);
    overflow-y: auto;
    text-align: center;
}

@media (pointer: coarse) {

    /* mobile device */
    .ModalRoomCreate {
        width: 200px;
    }
}

.ModalRoomCreate .card {
    display: flex;
    justify-content: space-between;
    max-width: 350px;
    word-wrap: break-word;
    margin-top: 10px;
    padding: 10px;
}