.UserInput .TextArea {
    width: 400px;
    min-height: 20px;
    max-height: 500px;
    field-sizing: content;
    height: auto;
    outline: none;
    overflow: auto;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    border: 1px solid;
    padding: 5px;
    border-right: none;
    border-left: none;
    line-height: 20px;
}