.UserInput {
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
}

.UserInput .TextArea {
    min-height: 20px;
    padding: 5px;
    field-sizing: content;
    outline: none;
    overflow: auto;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    border: 1px solid;
    line-height: 20px;
}

.UserInput .uploadFileForm {
    padding: 5px;
}

@media (pointer: coarse) {

    /* mobile device */
    .UserInput {
        margin-bottom: 50px;
    }

    .UserInput .TextArea {
        margin-bottom: 70px;
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        resize: none;
        max-height: 500px;
    }
}

@media (pointer: fine),
(pointer: none) {

    /* desktop */
    .UserInput .TextArea {
        width: 400px;
        max-height: 500px;
        border-right: none;
        border-left: none;
    }
}

input[type=file]::file-selector-button {
    border: 2px solid #565655;
    padding: .2em .4em;
    border-radius: .2em;
}