django==5.2.7
django-extensions==4.1
djangorestframework==3.16.1
djoser==2.3.3
django-storages==1.14.6
boto3==1.40.59
channels==4.3.1
channels-redis==4.3.0
gunicorn==23.0.0
uvicorn[standard]==0.38.0
whitenoise==6.11.0
psycopg[binary]==3.2.12
django-cors-headers==4.9.0
Pillow
ujson==5.11.0