django==5.2.6
django-extensions==4.1
djangorestframework==3.16.1
djoser==2.3.3
django-storages==1.14.6
boto3==1.40.25
channels==4.3.1
gunicorn==23.0.0
uvicorn[standard]==0.35.0
whitenoise==6.9.0
psycopg2-binary==2.9.10
psycopg-binary==3.2.9
