.Chat {
    margin: 100px auto;
    min-width: 500px;
    max-width: 800px;
    word-break: break-word;
    justify-content: center;
    justify-items: center;
    justify-self: center;
}

.Chat .info {
    margin-bottom: 10px;
}

.Chat .info a {
    text-decoration: none;
}

.Chat .text {
    white-space: pre-line;
}

.Chat #SendButton:hover,
.Chat #SettingsButton:hover {
    cursor: pointer;
}

.Chat .Wrapper-InView {
    margin-top: 100px;
}

.Chat .Wrapper-Scrollbottom {
    margin-top: 10px;
}