.UserCard {
    margin: 100px auto 0px;
    max-width: 500px;
    padding: 20px;
    text-align: center;
    position: unset;
}

@media (pointer: coarse) {

    /* mobile device */
    .UserCard {
        min-width: 200px;
        width: 90%;
    }
}

.User .UserBtns {
    height: 30px;
    padding: 10px;
}

.User .UserCardImage {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.PostCreate {
    margin: 20px auto;
    width: 30px;
}

.PostCreate img {
    width: 30px;
    transition: opacity 0.2s, transform 0.2s;
    cursor: pointer;
}

.PostCreate img:hover {
    opacity: 0.7;
    transform: scale(1.05);
}

.PostCreate img:active {
    transform: scale(0.95);
}