.Post {
    margin-bottom: 10px;
    padding: 20px;
    word-break: break-word;
    max-width: 800px;
}

@media (pointer: coarse) {

    /* mobile device */
    .Post {
        min-width: 200px;
    }

}

.Post .link {
    text-decoration: none;
}

.Post .content {
    white-space: pre-line;
}

.Post .settingsLogo {
    width: 30px;
    transition: opacity 0.2s, transform 0.2s;
    cursor: pointer;
}

.Post .settingsLogo:hover {
    opacity: 0.7;
    transform: scale(1.05);
}

.Post .settingsLogo:active {
    transform: scale(0.95);
}