* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}

.onlineStatus {
    display: block;
    padding: 5px 10px;
    background-color: green;
    border-radius: 20px;
    color: white;
}

.App .BottomDiv {
    margin-bottom: 250px;
}