.FriendCard .username,
.Chat .info a {
    color: rgb(134, 134, 134);
}


/* Light Theme */

.light button,
.light input[type="submit"],
.light input[type="reset"] {
    background-color: rgb(205, 205, 205);
    color: rgb(44, 42, 42);
}

.light textarea {
    background-color: rgb(250, 244, 244);
    color: rgb(0, 0, 0);
}

.light input[type="text"],
.light input[type="email"],
input[type=file]::file-selector-button {
    background-color: rgb(250, 244, 244);
    color: rgb(44, 42, 42);
}

.light {
    background-color: rgb(250, 244, 244);
    color: rgb(0, 0, 0);

    .UpperLine,
    .NavBar,
    .FriendsNavBar {
        background-color: rgb(235, 235, 235);
    }

    .RoomNavBar {
        background-color: rgb(235, 235, 235);
    }

    .SettingsBar {
        background-color: rgb(235, 235, 235);
        border-color: rgb(202, 195, 195);
    }

    .NavBar a:hover,
    .FriendsNavBar a:hover,
    .RoomNavBar a:hover {
        background-color: rgb(220, 220, 220);
    }

    .UserCard {
        background-color: rgb(202, 195, 195);
    }

    .Post,
    .RoomCard,
    .RoomInvitationCard,
    .ModalRoomCreate .card,
    .ModalRoomEdit .card,
    .FriendCard,
    .LanguageSelect,
    .Chat .Message {
        background-color: rgb(230, 230, 230);
    }

    .Post .title,
    .Post a {
        color: rgb(134, 134, 134);
    }

    .RoomCard a,
    .RoomInvitationCard a,
    .Message a {
        color: rgb(0, 0, 0);
    }

    .ModalRoomCreate,
    .ModalRoomEdit,
    .ModalSettings,
    .ModalPostEdit,
    .uploadFileForm,
    .ModalDelAcc,
    .ModalMessage {
        background: rgb(250, 244, 244);
    }

    .FriendCard,
    .FriendCard .name {
        color: rgb(0, 0, 0);
    }

    .Chat #SendButton,
    .Chat #SettingsButton {
        background: rgb(250, 244, 244);
    }

    .LanguageSelect {
        color: rgb(0, 0, 0);
    }
}


/* Dark Theme */

.dark a {
    color: rgb(205, 205, 205);
}

.dark button,
.dark input[type="submit"],
.dark input[type="reset"],
input[type=file]::file-selector-button {
    background-color: rgb(101, 101, 110);
    color: rgb(205, 205, 205);
}

.dark textarea {
    background-color: rgb(43, 43, 43);
    color: rgb(205, 205, 205);
}

.dark input[type="text"],
.dark input[type="email"] {
    background-color: rgb(43, 43, 43);
    color: rgb(205, 205, 205);
}

.dark {
    background-color: rgb(43, 43, 43);
    color: rgb(205, 205, 205);

    .UpperLine,
    .NavBar,
    .FriendsNavBar {
        background-color: rgb(61, 61, 71);
    }

    .RoomNavBar {
        background-color: rgb(61, 61, 71);
    }

    .SettingsBar {
        background-color: rgb(61, 61, 71);
        border-color: rgb(80, 80, 90);
    }

    .NavBar a,
    .FriendsNavBar a,
    .RoomNavBar a {
        color: rgb(205, 205, 205);
    }

    .NavBar a:hover,
    .FriendsNavBar a:hover,
    .RoomNavBar a:hover {
        background-color: rgba(50, 50, 50);
    }

    .UserCard {
        background-color: rgb(57, 57, 61);
    }

    .Post,
    .RoomCard,
    .RoomInvitationCard,
    .ModalRoomCreate .card,
    .ModalRoomEdit .card,
    .FriendCard,
    .uploadFileForm,
    .LanguageSelect,
    .Chat .Message {
        background-color: rgb(57, 57, 61);
    }

    .Post .title,
    .Post a {
        color: rgb(134, 134, 134);
    }

    .RoomCard .link,
    .Message a {
        color: rgb(205, 205, 205);
    }

    .ModalRoomCreate,
    .ModalRoomEdit,
    .ModalSettings,
    .ModalPostEdit,
    .ModalDelAcc,
    .ModalMessage {
        background: rgb(43, 43, 43);
    }

    .FriendCard,
    .FriendCard .name {
        color: rgb(205, 205, 205);
    }

    .Chat #SendButton,
    .Chat #SettingsButton {
        background: rgb(43, 43, 43);
    }

    .LanguageSelect {
        color: rgb(255, 255, 255);
    }
}