.W3 {
    align-items: center;
    margin: 50px 20%;
}

.W3Card {
    margin: 100px auto;
    max-width: 800px;
    padding: 10px;
    position: unset;
}

.TransactionCard {
    margin-bottom: 50px;
    position: unset;
}