.Message {
    margin-bottom: 10px;
    padding: 5px;
    line-height: 20px;
    max-width: 800px;
}

@media (pointer: coarse) {

    /* mobile device */
    .Message {
        width: 250px;
    }
}

@media (pointer: fine),
(pointer: none) {

    /* desktop */
    .Message {
        width: 800px;
    }
}

.Message .timestamp {
    color: gray;
    display: inline-flex;
}

.Message .downloadButton {
    display: inline-flex;
    padding: 5px;
}

.Message .file {
    display: inline-flex;
}

.Message .MessageOnlineStatus {
    display: inline-block;
    margin: 5px;
    padding: 5px 5px;
    background-color: green;
    border-radius: 20px;
}

.Message .MessageImage {
    max-width: 100%;
    max-height: 500px;
    border: 2px solid #3b3b3c;
    border-radius: 8px;
    display: block;
}

.Message .MessageUserImage {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
}